header {
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
}

.navbar-brand {
    width: 55%;
    text-align: right;
}

#navbar-logo {
    width: 130px;
    height: 30px;
}

.navbar-navigation {
    display: flex;
}

.navbar-navigation-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-link,
.navbar-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar-button {
    background: rgb(28, 145, 255);
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: normal;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.hero-content {
    width: 55%;
    text-align: center;
}

.hero-title {
    width: 55%;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0px auto;
}

.hero-description {
    width: 65%;
    font-size: 18px;
    line-height: 1.4;
    margin: 20px auto 0px auto;
}

.hero-image {
    width: 45%;
    height: 600px;
    background-image: url("https://dims.apnews.com/dims4/default/a66f864/2147483647/strip/false/crop/8585x5724+0+0/resize/1486x991!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F7c%2Fe4%2Fa52f4c8f5c4bcfc133e4ad6f092e%2F96e0c8ce057d423fa48101d0d99c2970");
    background-size: cover;
}